<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 极光推送 -->
    <add key="JPushKey" value="48614412df5b4b94e6c51d84,772c797805eb03aa90606a58"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMobile" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.tygaweb.com/Qdhtyy/Services/MobileService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMobile"
          contract="IMobile" name="BasicHttpBinding_IMobile" />
    </client>
  </system.serviceModel>
</configuration>