<ion-view view-title="任务执行">
    <ion-content>

        <form ng-submit="saveETaskInfo()">
            <div class="row">
                <div class="col col-33"><span class="fcr">*</span> 起始时间：</div>
                <div class="col col-67">
                    {{ETaskInfo.TBStime}}
                </div>
            </div>
            <div class="row">
                <div class="col col-33"><span class="fcr">*</span> 结束时间：</div>
                <div class="col col-67">
                    <a ng-click="onDpTime(2)" class="button button-small button-clear button-stable icon-right ion-ios-arrow-down">
                        {{ETaskInfo.TBEtime}}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col col-33"><span class="fcr">*</span> 行驶里程：</div>
                <div class="col col-67">
                    <input type="text" ng-model="ETaskInfo.TBKilm" ng-pattern="^(\d+)$" />
                </div>
            </div>
            <div class="row">
                <div class="col col-33"><span class="fcr">*</span> 执行费用：</div>
                <div class="col col-67">
                    <input type="text" ng-model="ETaskInfo.TBFee" ng-pattern="^(\d+)$" />
                </div>
            </div>
            <div class="row">
                <div class="col col-33"><span class="fcr">*</span>执行质量：</div>
                <div class="col col-67">
                    <a ng-click="onDlgSelect('Eva')" class="button button-small button-clear button-stable icon-right ion-ios-arrow-down">
                        {{ETaskInfo.Eva}}
                    </a>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" type="submit">提交</button>
            </div>
        </form>

    </ion-content>
</ion-view>