<ion-view view-title="任务申请">
    <ion-content>

        <form ng-submit="saveApplyTaskInfo()">
            <div class="row">
                <div class="col col-33"><span class="fcr">*</span> 申请日期：</div>
                <div class="col col-67">
                    <a ng-click="onDpDate(4)" class="button button-small button-clear button-stable icon-right ion-ios-arrow-down">
                        {{TaskInfo.TBPtime}}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col col-33"><span class="fcr">*</span>申请说明：</div>
                <div class="col col-67">
                    <textarea rows="3" cols="80" class="txta" ng-model="TaskInfo.TBnotes"></textarea>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" type="submit">提交</button>
            </div>
        </form>
        <div class="item item-divider mgt10">已申请清单</div>
        <div class="dg-list">
            <div class="box" ng-repeat="item in InQTasks">
                <div class="row">
                    <div class="col" ng-click="toggleGroup(item)" ng-class="{active: isGroupShown(item)}">{{item.TKNote}}</div>
                    <div class="col">
                        <a class="fr">
                            <span class="fr badge badge-positive">{{item.TKStateName}}</span>
                        </a>
                    </div>
                </div>
                <div class="subbox" ng-show="isGroupShown(item)">
                    <div class="row">
                        <div class="col">执行日期：{{item.TKPdate}}</div>
                    </div>
                    <div class="row">
                        <div class="col">申请人：{{item.TKoper}}</div>
                    </div>
                </div>
            </div>
            <div class="box" ng-show="!InQTasks || InQTasks.length==0">
                <div class="row"><div class="col">暂无记录</div></div>
            </div>
        </div>

    </ion-content>
</ion-view>