<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <a class="button button-clear" ng-click="closeDlgBoxInfo()">取消</a>
        </div>
        <h1 class="title">{{BoxInfo.BoxNo}}</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="saveBoxInfo()" class="fm">
            <div class="row">
                <div class="col">存放类型：</div>
                <div class="col">
                    <a ng-click="onDlgSelect('DlgBoxType')" class="button button-small button-clear button-stable icon-right ion-ios-arrow-down">
                        {{BoxInfo.BoxTypeName}}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">预计出库日期：</div>
                <div class="col">
                    <a ng-click="onDpDate(3)" class="button button-small button-clear button-stable icon-right ion-ios-arrow-down">
                        {{BoxInfo.BoxPdate}}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">目标中心：</div>
                <div class="col">
                    <input type="text" ng-model="BoxInfo.BoxDcid">
                </div>
            </div>
            <div class="row">
                <div class="col">目标网点号：</div>
                <div class="col">
                    <input type="text" ng-model="BoxInfo.BoxDBno">
                </div>
            </div>
            <div class="padding mgt10">
                <button class="button button-block button-positive" type="submit">保 存</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>