<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{TaskInfo.TBRno}}</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="saveTaskInfo()" class="fm">
            <div class="row">
                <div class="col">起始时间：</div>
                <div class="col">
                    <a ng-click="onDpTime(1)" class="button button-small button-clear button-stable icon-right ion-ios-arrow-down">
                        {{TaskInfo.TBStime}}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">结束时间：</div>
                <div class="col">
                    <a ng-click="onDpTime(2)" class="button button-small button-clear button-stable icon-right ion-ios-arrow-down">
                        {{TaskInfo.TBEtime}}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">行驶里程（公里）：</div>
                <div class="col">
                    <input type="text" ng-model="TaskInfo.TBKilM">
                </div>
            </div>
            <div class="row">
                <div class="col">任务计费：</div>
                <div class="col">
                    <input type="text" ng-model="TaskInfo.TBFee">
                </div>
            </div>
            <div class="padding mgt10">
                <button class="button button-block button-positive" type="submit">保 存</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>