<ion-view view-title="任务列表">
    <ion-content>
        <div class="dg-list">
            <div class="box" ng-repeat="item in ETasks">
                <div class="row">
                    <div class="col col-80" ng-click="toggleGroup(item)" ng-class="{active: isGroupShown(item)}">任务：{{item.TBBNO}}</div>
                    <div class="col col-20">
                        <span class="fr badge badge-positive">{{item.TBState == '1' ? '完成':'新'}}</span>
                    </div>
                </div>
                <div class="subbox" ng-show="isGroupShown(item)">
                    <div class="row">
                        <div class="col">名称：{{item.TBBname}}</div>
                    </div>
                    <div class="row">
                        <div class="col">任务类型：{{item.TBType}}</div>
                        <div class="col" ng-show="item.TBState != '1'">
                            <a class="fr" ng-click="onDoETask(item)"><span class="badge badge-positive">开始执行</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" ng-show="!ETasks || ETasks.length==0">
                <div class="row"><div class="col">暂无记录</div></div>
            </div>
        </div>

    </ion-content>
</ion-view>