<ion-view view-title="工作量查询">
    <ion-content>
        <div class="fm">
            <div class="row">
                <div class="col-25">员工编号：</div>
                <div class="col-75">
                    <input type="text" ng-model="ModelData.StaffCode">
                </div>
            </div>
            <div class="row">
                <div class="col-25">月份：</div>
                <div class="col-75">
                    <a ng-click="onDpDate(6)" class="button button-small button-clear button-stable icon-right ion-ios-arrow-down">
                        {{ModelData.YMonth}}
                    </a>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="onSearch()">查询</button>
            </div>
        </div>
        <div class="dg-list">
            <div class="box" ng-repeat="item in Workloads">
                <div class="row">
                    <div class="col" ng-click="toggleGroup(item)" ng-class="{active: isGroupShown(item)}">工时：{{item.TBTlen}}</div>
                    <div class="col">
                        日期：{{item.TBdate}}
                    </div>
                </div>
                <div class="subbox" ng-show="isGroupShown(item)">
                    <div class="row">
                        <div class="col">任务类型：{{item.TBType}}</div>
                    </div>
                    <div class="row">
                        <div class="col">网点名称：{{item.TBBname}}</div>
                    </div>
                    <div class="row">
                        <div class="col">费用合计：{{item.TBFee}}</div>
                    </div>
                </div>
            </div>
            <div class="box" ng-show="!Workloads || Workloads.length==0">
                <div class="row"><div class="col">暂无记录</div></div>
            </div>
        </div>

    </ion-content>
</ion-view>