<ion-view view-title="身份认证">
    <ion-nav-buttons side="right">
        <a ng-show="ModelData.NfcCode && ModelData.NfcCode != ''" class="button f18" ng-click="onOk()">确认</a>
    </ion-nav-buttons>
    <ion-content>
        <div class="item item-divider">
            {{ModelData.NfcDescr}}
            <a ng-click="onResetAuth()" ng-show="NfcCode != ''" class="fr">
                <span class="fr badge badge-positive">重新认证</span>
            </a>
        </div>
        <div class="row">
            <div class="col tac">
                <img src="{{PictureUrl}}" />
            </div>
        </div>
        <div class="fm">
           
        </div>

    </ion-content>
</ion-view>